<!doctype html>
<title>stock-closing cost</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Find 30 days closing cost for the stock of your interest</h1>
  <div class=metanav>

    <h4>
      Enter Ticker Symbol and click submit
    </h4>

    <form id='userinfoform' method='post' action='' >
      <p>
		Ticker symbol: <input type='text' name='ticker' placeholder='GOOG' />
      </p>
      <p>
		<input type='submit' value='Submit' />
      </p>
    </form>
  </div>
</div>
</html>
